/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo{
    margin-top: 5px;
}

.gameLogo{
    height: 40px;
    width: auto;
}

.error{
    color: red;
}

.bold200Text{
    font-weight: 200;
}

.bold300Text{
    font-weight: 300;
}

.bold400Text{
    font-weight: 400;
}

.bold500Text{
    font-weight: 500;
}

.bold600Text{
    font-weight: 600;
}



#myUL li a {
  
    /* color: black; */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

