/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo{
    margin-top: 5px;
}

.gameLogo{
    height: 40px;
    width: auto;
    padding-left: 1px;
    padding-right: 1px;
}

.error{
    color: red;
}

.bold200Text{
    font-weight: 200;
}

.bold300Text{
    font-weight: 300;
}

.bold400Text{
    font-weight: 400;
}

.bold500Text{
    font-weight: 500;
}

.bold600Text{
    font-weight: 600;
}



#myUL li a {
  
    /* color: black; */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/* I used Transfonter (https://transfonter.org) to assist with web optimizationalizingmajig for this font */
@font-face {
	font-family: 'RuneScape UF';
	src: url('.../fonts/rsfont/RuneScape-UF.eot');
	src: url('.../fonts/rsfont/RuneScape-UF.eot?#iefix') format('embedded-opentype'),
		url('.../fonts/rsfont/RuneScape-UF.woff') format('woff'),
		url('.../fonts/rsfont/RuneScape-UF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.rs-blue
{
    font-family: 'Runescape UF';
    color: blue;
}

.rs-green
{
    font-family: 'Runescape UF';
    color: green;
}

.rs-red
{
    font-family: 'Runescape UF';
    color: red;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}