html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 0 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}
header
{
    background: #20222B;
    height: 50px;
}

.row
{
    height: 100%;
    display: table-row;
}
@media (min-width: 992px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}
.greenbg {   
    background: #84C318;
}
.blackbg {
    background: #20222B;  	
}

.verticalcenter {
    display: flex;
    align-items: center;
}

.blur {
  background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 300px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}